backend/app/services/xml_generator/schemas/DE_v150.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://ekuatia.set.gov.py/sifen/xsd"
           targetNamespace="http://ekuatia.set.gov.py/sifen/xsd"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- Elemento raíz para Documento Electrónico -->
    <xs:element name="rDE">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DE" type="tipoDE"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" fixed="1.5.0"/>
        </xs:complexType>
    </xs:element>

    <!-- Tipo para Documento Electrónico -->
    <xs:complexType name="tipoDE">
        <xs:sequence>
            <xs:element name="gDE" type="tipoGDE"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para Grupo de Datos del Documento -->
    <xs:complexType name="tipoGDE">
        <xs:sequence>
            <xs:element name="dID" type="tipoID"/>
            <xs:element name="dDatG" type="tipoDatG"/>
            <xs:element name="dEmi" type="tipoEmi"/>
            <xs:element name="dRec" type="tipoRec"/>
            <xs:element name="gItem" type="tipoItem" maxOccurs="unbounded"/>
            <xs:element name="dTot" type="tipoTot"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para Identificación del Documento -->
    <xs:complexType name="tipoID">
        <xs:sequence>
            <xs:element name="iTipDE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/> <!-- Factura Electrónica (FE) -->
                        <xs:enumeration value="4"/> <!-- Autofactura Electrónica (AFE) -->
                        <xs:enumeration value="5"/> <!-- Nota de Crédito Electrónica (NCE) -->
                        <xs:enumeration value="6"/> <!-- Nota de Débito Electrónica (NDE) -->
                        <xs:enumeration value="7"/> <!-- Nota de Remisión Electrónica (NRE) -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dNumID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{3}-\d{3}-\d{7}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dFeEmiDE">
                <xs:simpleType>
                    <xs:restriction base="xs:dateTime">
                        <xs:minInclusive value="2020-01-01T00:00:00"/>
                        <xs:maxInclusive value="2100-12-31T23:59:59"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para Datos Generales -->
    <xs:complexType name="tipoDatG">
        <xs:sequence>
            <xs:element name="dNumID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{3}-\d{3}-\d{7}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dEst">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{1,3}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dPunExp">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{1,3}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dTipoID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/> <!-- RUC -->
                        <xs:enumeration value="2"/> <!-- Cédula -->
                        <xs:enumeration value="3"/> <!-- Pasaporte -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dTipoEmi">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/> <!-- Normal -->
                        <xs:enumeration value="2"/> <!-- Contingencia -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dCodSeg">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{1,3}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dCSC">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z0-9]{8}"/>
                        <xs:length value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dFecFirma">
                <xs:simpleType>
                    <xs:restriction base="xs:dateTime">
                        <xs:minInclusive value="2020-01-01T00:00:00"/>
                        <xs:maxInclusive value="2100-12-31T23:59:59"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="cConVen">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/> <!-- Contado -->
                        <xs:enumeration value="2"/> <!-- Crédito -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="cConOpe">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/> <!-- Normal -->
                        <xs:enumeration value="2"/> <!-- Contingencia -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="cModTra">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/> <!-- Terrestre -->
                        <xs:enumeration value="2"/> <!-- Marítimo -->
                        <xs:enumeration value="3"/> <!-- Aéreo -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="cCatEmi">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/> <!-- Normal -->
                        <xs:enumeration value="2"/> <!-- Régimen Especial -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="cMon">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="PYG"/> <!-- Guaraní -->
                        <xs:enumeration value="USD"/> <!-- Dólar Americano -->
                        <xs:enumeration value="EUR"/> <!-- Euro -->
                        <xs:enumeration value="BRL"/> <!-- Real Brasileño -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dTipCam">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0.01"/>
                        <xs:maxInclusive value="999999.99"/>
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para Emisor -->
    <xs:complexType name="tipoEmi">
        <xs:sequence>
            <xs:element name="iTipID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/> <!-- RUC -->
                        <xs:enumeration value="2"/> <!-- Cédula -->
                        <xs:enumeration value="3"/> <!-- Pasaporte -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dNumID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{8,9}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dDV">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dNomEmi">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3"/>
                        <xs:maxLength value="100"/>
                        <xs:pattern value="[A-Za-zÁáÉéÍíÓóÚúÑñ\s\.]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dDirEmi">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="5"/>
                        <xs:maxLength value="200"/>
                        <xs:pattern value="[A-Za-zÁáÉéÍíÓóÚúÑñ0-9\s\.,-]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dNumCas">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Za-z0-9\s-]+"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="cDepEmi">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{1,3}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="cCiuEmi">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{1,3}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dDesCiuEmi">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3"/>
                        <xs:maxLength value="100"/>
                        <xs:pattern value="[A-Za-zÁáÉéÍíÓóÚúÑñ\s\.]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dTelEmi">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(\+595|0)[0-9]{9}"/>
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dEmailE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para Receptor -->
    <xs:complexType name="tipoRec">
        <xs:sequence>
            <xs:element name="iTipID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/> <!-- RUC -->
                        <xs:enumeration value="2"/> <!-- Cédula -->
                        <xs:enumeration value="3"/> <!-- Pasaporte -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dNumID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{8,9}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dDV">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dNomRec">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3"/>
                        <xs:maxLength value="100"/>
                        <xs:pattern value="[A-Za-zÁáÉéÍíÓóÚúÑñ\s\.]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dDirRec">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="5"/>
                        <xs:maxLength value="200"/>
                        <xs:pattern value="[A-Za-zÁáÉéÍíÓóÚúÑñ0-9\s\.,-]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dNumCas">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Za-z0-9\s-]+"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="cDepRec">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{1,3}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="cCiuRec">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{1,3}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dDesCiuRec">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3"/>
                        <xs:maxLength value="100"/>
                        <xs:pattern value="[A-Za-zÁáÉéÍíÓóÚúÑñ\s\.]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dTelRec">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="(\+595|0)[0-9]{9}"/>
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dEmailRec">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para Items/Detalles -->
    <xs:complexType name="tipoItem">
        <xs:sequence>
            <xs:element name="dCodPro">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="20"/>
                        <xs:pattern value="[A-Za-z0-9-]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dDesPro">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3"/>
                        <xs:maxLength value="200"/>
                        <xs:pattern value="[A-Za-zÁáÉéÍíÓóÚúÑñ0-9\s\.,-]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dCantPro">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0.01"/>
                        <xs:maxInclusive value="999999999.99"/>
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dPreUniPro">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0.01"/>
                        <xs:maxInclusive value="999999999.99"/>
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dTotPro">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0.01"/>
                        <xs:maxInclusive value="999999999.99"/>
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dPorIVA">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="5"/>
                        <xs:enumeration value="10"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para Totales -->
    <xs:complexType name="tipoTot">
        <xs:sequence>
            <xs:element name="dTotGrav">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="999999999.99"/>
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dTotExe">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="999999999.99"/>
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dTotIVA">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="999999999.99"/>
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dTotGralOpe">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0.01"/>
                        <xs:maxInclusive value="999999999.99"/>
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema> 