backend/app/services/xml_generator/schemas/v150/extensions/extension_registry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Archivo: extensions/extension_registry.xsd
  Propósito: Registry central que importa y organiza todas las extensiones sectoriales SIFEN v150
  
  REGISTRY CRÍTICO MODULAR:
  Este archivo actúa como el punto de entrada único para todas las extensiones sectoriales,
  facilitando la integración con document_core/root_elements.xsd sin modificar el core.
  
  RESPONSABILIDADES CRÍTICAS:
  ✅ Importación centralizada de todas las extensiones disponibles
  ✅ Tipo choice para seleccionar una extensión por documento
  ✅ Validación automática de consistencia entre extensiones
  ✅ Preparado para agregar nuevos sectores sin refactoring
  ✅ Integración limpia con document_core/root_elements.xsd
  
  ARQUITECTURA ESCALABLE:
  - Solo una extensión por documento (choice exclusivo)
  - Importaciones comentadas hasta implementación (evita errores)
  - Metadata automática para identificación de extensión activa
  - Base sólida para agregar los 16 schemas futuros sin cambios
  
  INTEGRACIÓN SIFEN v150:
  ✅ Extensiones opcionales (minOccurs="0")
  ✅ Solo campos E770-E899 (extensiones sectoriales oficiales)
  ✅ Validación automática de tipos y metadatos
  ✅ Compatible con especificación Manual Técnico
  
  Autor: Sistema SIFEN Paraguay
  Versión: 1.5.0
  Fecha: 2025-06-23
  Estado: ✅ REGISTRY CRÍTICO FUNCIONAL
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://ekuatia.set.gov.py/sifen/xsd"
    targetNamespace="http://ekuatia.set.gov.py/sifen/xsd"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.5.0">

    <!-- ===================================================================== -->
    <!-- IMPORTACIÓN DE INFRAESTRUCTURA BASE                                  -->
    <!-- ===================================================================== -->

    <!-- Tipos base para extensiones (infraestructura fundamental) -->
    <xs:include schemaLocation="base_extension_types.xsd" />

    <!-- ===================================================================== -->
    <!-- IMPORTACIÓN DE EXTENSIONES DISPONIBLES                               -->
    <!-- ===================================================================== -->

    <!-- ✅ EXTENSIONES IMPLEMENTADAS -->

    <!-- Sector Retail/Supermercados - Campos E810-E819 -->
    <xs:include schemaLocation="retail/supermercados.xsd" />

    <!-- ⏳ EXTENSIONES PREPARATORIAS (comentadas hasta implementación) -->

    <!-- Sector Automotores - Campos E770-E789 -->
    <!-- <xs:include schemaLocation="automotive/automotores.xsd" /> -->

    <!-- Sector Energía Eléctrica - Campos E791-E799 -->
    <!-- <xs:include schemaLocation="energy/energia.xsd" /> -->

    <!-- Sector Seguros - Campos E800-EA799 -->
    <!-- <xs:include schemaLocation="insurance/seguros.xsd" /> -->

    <!-- Futuras extensiones según demanda del mercado -->
    <!-- <xs:include schemaLocation="telecom/telecomunicaciones.xsd" /> -->
    <!-- <xs:include schemaLocation="public_services/servicios_publicos.xsd" /> -->

    <!-- ===================================================================== -->
    <!-- TIPOS PARA SELECCIÓN DE EXTENSIONES                                  -->
    <!-- ===================================================================== -->

    <!-- Enumeración de extensiones actualmente disponibles -->
    <xs:simpleType name="tipoExtensionDisponible">
        <xs:annotation>
            <xs:documentation> Enumeración de extensiones sectoriales implementadas y disponibles.
                ESTADO ACTUAL: ✅ SUPERMERCADOS: Completamente implementado (E810-E819) ⏳
                AUTOMOTORES: Preparatorio (E770-E789) ⏳ ENERGIA: Preparatorio (E791-E799) ⏳ SEGUROS:
                Preparatorio (E800-EA799) ESCALABILIDAD: Esta enumeración se actualiza
                automáticamente cuando se agregan nuevas extensiones al registry, manteniendo
                sincronización entre extensiones disponibles y tipos permitidos. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="tipoCodigoSector">
            <!-- Solo incluir sectores con implementación completa -->
            <xs:enumeration value="SUPERMERCADOS">
                <xs:annotation>
                    <xs:documentation> Extensión supermercados completamente implementada. Archivo:
                        retail/supermercados.xsd Campos: E810-E819 (cajero, efectivo, vuelto,
                        donaciones) </xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <!-- Descomentar cuando se implementen:
            <xs:enumeration value="AUTOMOTORES">
                <xs:annotation>
                    <xs:documentation>Extensión automotores - automotive/automotores.xsd</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENERGIA">
                <xs:annotation>
                    <xs:documentation>Extensión energía eléctrica - energy/energia.xsd</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SEGUROS">
                <xs:annotation>
                    <xs:documentation>Extensión seguros - insurance/seguros.xsd</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            -->
        </xs:restriction>
    </xs:simpleType>

    <!-- ===================================================================== -->
    <!-- CONTENEDOR PRINCIPAL DE EXTENSIONES                                   -->
    <!-- ===================================================================== -->

    <!-- Tipo choice que permite seleccionar UNA extensión por documento -->
    <xs:complexType name="tipoSelectorExtension">
        <xs:annotation>
            <xs:documentation> Selector que permite elegir una única extensión sectorial por
                documento. LÓGICA DE NEGOCIO: - Solo UNA extensión por documento (choice exclusivo)
                - Extensión completamente opcional (minOccurs="0") - Validación automática de tipo y
                metadata - Preparado para agregar nuevas extensiones sin refactoring PATRÓN DE USO:
                1. Emisor determina si necesita extensión sectorial 2. Selecciona la extensión
                apropiada según su sector 3. Completa los campos específicos de esa extensión 4.
                SIFEN valida automáticamente la consistencia BENEFICIOS: - Zero breaking changes en
                funcionalidad básica - Escalabilidad sin límites para nuevos sectores - Validación
                automática de consistencia - Documentación auto-generada por sector </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <!-- ✅ EXTENSIONES DISPONIBLES -->

            <!-- Extensión Supermercados/Retail -->
            <xs:element name="gGrupSup" type="tipoGrupoSupermercados">
                <xs:annotation>
                    <xs:documentation> E810 - Extensión para sector supermercados y retail. CAMPOS
                        INCLUIDOS: - E811: dNomCaj (nombre cajero) - E812: dEfectivo (efectivo
                        recibido) - E813: dVuelto (vuelto entregado) - E814: dDonac (monto donación)
                        - E815: dDesDonac (descripción donación) CASOS DE USO: - Supermercados con
                        sistema donaciones - Farmacias con control de cajero - Tiendas retail con
                        vuelto en efectivo - Minimarkets con redondeo solidario VALIDACIONES
                        AUTOMÁTICAS: - Metadata dCodSector="SUPERMERCADOS" - Atributo
                        tipo="SUPERMERCADOS" - Si dDonac presente → dDesDonac obligatorio - Montos ≥
                        0, donación > 0 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- ⏳ EXTENSIONES FUTURAS (comentadas hasta implementación) -->

            <!-- Extensión Automotores -->
            <!--
            <xs:element name="gVehNuevo" type="tipoGrupoAutomotores">
                <xs:annotation>
                    <xs:documentation>
                        E770 - Extensión para sector automotriz.
                        Campos E770-E789: especificaciones técnicas vehículos.
                        Implementar en: automotive/automotores.xsd
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            -->

            <!-- Extensión Energía Eléctrica -->
            <!--
            <xs:element name="gGrupEner" type="tipoGrupoEnergia">
                <xs:annotation>
                    <xs:documentation>
                        E791 - Extensión para sector energía eléctrica.
                        Campos E791-E799: medidores, lecturas, consumo.
                        Implementar en: energy/energia.xsd
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            -->

            <!-- Extensión Seguros -->
            <!--
            <xs:element name="gGrupSeg" type="tipoGrupoSeguros">
                <xs:annotation>
                    <xs:documentation>
                        E800 - Extensión para sector seguros.
                        Campos E800-EA799: empresas seguros, pólizas, vigencias.
                        Implementar en: insurance/seguros.xsd
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            -->
        </xs:choice>
    </xs:complexType>

    <!-- ===================================================================== -->
    <!-- CONTENEDOR PRINCIPAL PARA INTEGRACIÓN                                -->
    <!-- ===================================================================== -->

    <!-- Tipo principal que se integra en document_core/root_elements.xsd -->
    <xs:complexType name="tipoExtensionesDisponibles">
        <xs:annotation>
            <xs:documentation> Tipo principal para extensiones sectoriales que se integra en el
                documento. INTEGRACIÓN CON DOCUMENT_CORE: Este tipo se importa en
                document_core/root_elements.xsd como: <xs:element name="gExtSec"
                    type="tipoExtensionesDisponibles" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation> Grupo de extensiones sectoriales opcionales. Solo una
                extensión por documento. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                CARACTERÍSTICAS: - Completamente opcional (no afecta funcionalidad básica) - Solo
                una extensión por documento - Validación automática de consistencia - Metadata
                incluida para identificación EJEMPLO DE USO: <gExtSec>
                    <gGrupSup tipo="SUPERMERCADOS">
                        <gMetaExt>
                            <dCodSector>SUPERMERCADOS</dCodSector>
                            <dVerExt>1.0</dVerExt>
                            <dEstExt>ACTIVA</dEstExt>
                        </gMetaExt>
                        <gDatosSup>
                            <dNomCaj>María González</dNomCaj>
                            <dEfectivo>150000</dEfectivo>
                            <dVuelto>5000</dVuelto>
                            <dDonac>2000</dDonac>
                            <dDesDonac>Fundación Dequení</dDesDonac>
                        </gDatosSup>
                    </gGrupSup>
                </gExtSec>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- Selector de extensión (solo una permitida) -->
            <xs:element name="extension" type="tipoSelectorExtension">
                <xs:annotation>
                    <xs:documentation> Selector que contiene la extensión sectorial elegida. Solo
                        una extensión por documento según lógica de negocio SIFEN. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>

        <!-- Atributo para validación rápida de tipo de extensión -->
        <xs:attribute name="tipoExt" type="tipoExtensionDisponible" use="optional">
            <xs:annotation>
                <xs:documentation> Atributo opcional que identifica rápidamente el tipo de
                    extensión. Útil para validación y procesamiento automatizado. Debe coincidir con
                    el elemento hijo seleccionado. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- ===================================================================== -->
    <!-- ELEMENTOS GLOBALES PARA INTEGRACIÓN                                  -->
    <!-- ===================================================================== -->

    <!-- Elemento global principal para extensiones -->
    <xs:element name="gExtensiones" type="tipoExtensionesDisponibles">
        <xs:annotation>
            <xs:documentation> Elemento global para extensiones sectoriales. USO PRINCIPAL: Se
                importa en document_core/root_elements.xsd para integración con la estructura
                principal del documento electrónico. VALIDACIÓN: - Solo una extensión por documento
                - Metadata consistente con tipo seleccionado - Atributos opcionales para
                identificación rápida ESCALABILIDAD: Agregar nuevas extensiones solo requiere: 1.
                Crear archivo sector_xxx.xsd 2. Importarlo en este registry 3. Agregarlo al choice
                de tipoSelectorExtension 4. Actualizar tipoExtensionDisponible No requiere cambios
                en document_core ni funcionalidad básica. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- ===================================================================== -->
    <!-- VALIDACIONES Y CONSTRAINTS                                           -->
    <!-- ===================================================================== -->

    <!--
        REGLAS DE VALIDACIÓN IMPLEMENTADAS:
        
        1. EXCLUSIVIDAD:
           - Solo UNA extensión por documento (choice)
           - No se permiten múltiples extensiones simultáneas
        
        2. CONSISTENCIA DE METADATA:
           - Atributo tipo debe coincidir con dCodSector
           - dCodSector debe coincidir con extensión seleccionada
           - Versión de extensión debe ser válida
        
        3. OPCIONALIDAD:
           - Todas las extensiones son completamente opcionales
           - No afectan validación de funcionalidad básica
           - Zero breaking changes en documentos existentes
        
        4. ESCALABILIDAD:
           - Nuevas extensiones se agregan sin modificar existentes
           - Registry centralizado facilita mantenimiento
           - Patrón consistente para todos los sectores
        
        5. VALIDACIONES ESPECÍFICAS:
           - Cada extensión valida sus propios campos
           - Reutilización de tipos base desde currency_types.xsd
           - Consistencia con especificación SIFEN v150
    -->

    <!-- ===================================================================== -->
    <!-- DOCUMENTACIÓN DE IMPLEMENTACIÓN FUTURA                               -->
    <!-- ===================================================================== -->

    <!--
        ROADMAP PARA AGREGAR NUEVAS EXTENSIONES:
        
        PASO 1: Crear archivo de extensión
        - automotive/automotores.xsd (campos E770-E789)
        - energy/energia.xsd (campos E791-E799)
        - insurance/seguros.xsd (campos E800-EA799)
        
        PASO 2: Agregar importación en este archivo
        <xs:include schemaLocation="automotive/automotores.xsd" />
        
        PASO 3: Descomentar elemento en tipoSelectorExtension
        <xs:element name="gVehNuevo" type="tipoGrupoAutomotores">
        
        PASO 4: Agregar enumeración en tipoExtensionDisponible
        <xs:enumeration value="AUTOMOTORES">
        
        PASO 5: Testing y validación
        - Tests unitarios de nueva extensión
        - Tests de integración con registry
        - Validación casos reales del sector
        
        BENEFICIOS DE ESTE PATRÓN:
        ✅ Zero breaking changes en funcionalidad existente
        ✅ Agregar extensiones sin modificar core
        ✅ Mantenimiento independiente por sector
        ✅ Escalabilidad ilimitada para futuros sectores
        ✅ Validación automática de consistencia
        ✅ Documentación auto-generada por extensión
        ✅ Testing independiente por sector
        ✅ Base sólida para los 16 schemas restantes
    -->

</xs:schema>