backend/app/services/xml_generator/schemas/v150/DE_v150.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Schema Principal SIFEN v150 - Documento Electrónico MODULAR
  Archivo: DE_v150.xsd
  
  Este schema IMPORTA los módulos reales de common/ y document_core/
  y define solo la estructura de orquestación.
  
  Módulos importados:
  - common/basic_types.xsd (tipos básicos)
  - common/currency_types.xsd (tipos monetarios) 
  - document_core/totals_subtotals.xsd (totales corregido)
  
  Autor: Sistema SIFEN Paraguay
  Versión: 1.5.0 Modular
  Fecha: 2025-06-21
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://ekuatia.set.gov.py/sifen/xsd"
           targetNamespace="http://ekuatia.set.gov.py/sifen/xsd"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.5.0">

    <!-- ===================================================================== -->
    <!-- IMPORTACIÓN DE MÓDULOS EXISTENTES                                    -->
    <!-- ===================================================================== -->
    
    <!-- Módulos common/ existentes -->
    <xs:include schemaLocation="common/basic_types.xsd"/>
    <xs:include schemaLocation="common/currency_types.xsd"/>
    
    <!-- Módulos document_core/ existentes -->
    <xs:include schemaLocation="document_core/totals_subtotals.xsd"/>

    <!-- ===================================================================== -->
    <!-- TIPOS ADICIONALES NECESARIOS (solo los que NO están en módulos)     -->
    <!-- ===================================================================== -->
    
    <!-- Grupo de operación del documento (eventual → document_core/operation_data.xsd) -->
    <xs:complexType name="tipoGrupoOperacionDocumento">
        <xs:annotation>
            <xs:documentation>
                gOpeDE - Datos básicos de la operación del documento
                
                TODO: Mover a document_core/operation_data.xsd cuando se implemente
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="iTiDE" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Tipo de documento electrónico</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dDesTiDE" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Descripción del tipo de documento</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dNumTimbr" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Número de timbrado</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dEst" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Establecimiento</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dPunExp" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Punto de expedición</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dNumDoc" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Número del documento</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dSerie" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Serie del documento</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dFeEmiDE" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Fecha de emisión del documento</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Grupo de timbrado (eventual → document_core/stamping_data.xsd) -->
    <xs:complexType name="tipoGrupoTimbrado">
        <xs:annotation>
            <xs:documentation>
                gTimb - Datos del timbrado fiscal
                
                TODO: Mover a document_core/stamping_data.xsd cuando se implemente
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="iTiDE" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Tipo de documento electrónico</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dDesTiDE" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Descripción del tipo de documento</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dNumTimbr" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Número de timbrado</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dEst" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Establecimiento</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dPunExp" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Punto de expedición</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dNumDoc" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Número del documento</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dSerie" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Serie del documento</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dFeIniT" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Fecha de inicio de vigencia del timbrado</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dFeFinT" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Fecha de fin de vigencia del timbrado</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- ===================================================================== -->
    <!-- DOCUMENTO ELECTRÓNICO PRINCIPAL                                      -->
    <!-- ===================================================================== -->
    
    <!-- Tipo del documento electrónico completo -->
    <xs:complexType name="tipoDocumentoElectronico">
        <xs:annotation>
            <xs:documentation>DE - Documento electrónico completo</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- Grupos actuales -->
            <xs:element name="gOpeDE" type="tipoGrupoOperacionDocumento" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Grupo de operación del documento</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="gTimb" type="tipoGrupoTimbrado" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Grupo de timbrado</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <!-- 🎯 USAR TIPO DEL MÓDULO IMPORTADO -->
            <xs:element name="gTotSub" type="tipoGrupoTotalesSubtotales" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Grupo de totales y subtotales - IMPORTADO desde document_core/totals_subtotals.xsd
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <!-- 
            FUTUROS GRUPOS (cuando se implementen los módulos):
            
            <xs:element name="gDatRec" type="tipoGrupoReceptor" minOccurs="0"/>        
            <xs:element name="gEmisor" type="tipoGrupoEmisor" minOccurs="0"/>          
            <xs:element name="gItems" type="tipoGrupoItems" minOccurs="0"/>           
            <xs:element name="gCondPago" type="tipoGrupoCondicionesPago" minOccurs="0"/>  
            <xs:element name="gTransp" type="tipoGrupoTransporte" minOccurs="0"/>     
            <xs:element name="gCamEsp" type="tipoGrupoCamposEspecificos" minOccurs="0"/> 
            -->
        </xs:sequence>
        
        <!-- Atributo CDC (Código de Control del Documento) -->
        <xs:attribute name="Id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>CDC - Código de Control del Documento (44 dígitos)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- ===================================================================== -->
    <!-- ELEMENTOS GLOBALES PARA VALIDACIÓN INDEPENDIENTE                    -->
    <!-- ===================================================================== -->
    
    <xs:element name="gOpeDE" type="tipoGrupoOperacionDocumento">
        <xs:annotation>
            <xs:documentation>Elemento global para validar grupo de operación independientemente</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="gTimb" type="tipoGrupoTimbrado">
        <xs:annotation>
            <xs:documentation>Elemento global para validar grupo de timbrado independientemente</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <!-- 🎯 ELEMENTO GLOBAL DEL MÓDULO IMPORTADO -->
    <!-- 
    Este elemento YA está definido en document_core/totals_subtotals.xsd
    No lo redefinimos aquí - lo usamos del módulo importado
    -->

    <!-- ===================================================================== -->
    <!-- ELEMENTO RAÍZ                                                        -->
    <!-- ===================================================================== -->
    
    <xs:element name="rDE">
        <xs:annotation>
            <xs:documentation>
                Elemento raíz del Documento Electrónico SIFEN v150.
                
                Usa tipos de módulos importados donde están disponibles.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <!-- 🎯 USAR TIPO DEL MÓDULO basic_types.xsd (si existe) -->
                <xs:element name="dVerFor" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Versión del formato del documento.
                            TODO: Cambiar a tipoVersionFormato cuando esté en basic_types.xsd
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DE" type="tipoDocumentoElectronico">
                    <xs:annotation>
                        <xs:documentation>Documento Electrónico completo</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            
            <xs:attribute name="version" type="xs:string" fixed="1.5.0" use="required">
                <xs:annotation>
                    <xs:documentation>Versión del schema XSD</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <!-- ===================================================================== -->
    <!-- PLAN DE MODULARIZACIÓN PROGRESIVA                                   -->
    <!-- ===================================================================== -->
    
    <!--
        ESTADO ACTUAL:
        ✅ Importa: common/basic_types.xsd, common/currency_types.xsd
        ✅ Importa: document_core/totals_subtotals.xsd (corregido)
        ⏳ Define temporalmente: tipoGrupoOperacionDocumento, tipoGrupoTimbrado
        
        PRÓXIMOS PASOS:
        
        1. Crear document_core/operation_data.xsd
           - Mover tipoGrupoOperacionDocumento → ahí
           - Importar en DE_v150.xsd
        
        2. Crear document_core/stamping_data.xsd
           - Mover tipoGrupoTimbrado → ahí
           - Importar en DE_v150.xsd
        
        3. Mejorar common/basic_types.xsd
           - Agregar tipoVersionFormato
           - Agregar tipoTipoDocumento con enumeraciones
           - Agregar tipoRUC, tipoCDC, etc.
        
        4. Crear parties/issuer_types.xsd, parties/receiver_types.xsd
        
        5. Crear operations/items.xsd, operations/payment_types.xsd
        
        6. Crear document_types/ para campos específicos por tipo
        
        BENEFICIOS DE ESTE ENFOQUE:
        - ✅ Usa módulos reales existentes
        - ✅ Estructura preparada para crecer
        - ✅ Permite testear cada módulo independientemente
        - ✅ Migración gradual sin romper funcionalidad
    -->

</xs:schema>