backend/app/services/xml_generator/schemas/v150/extensions/retail/supermercados.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Archivo: extensions/retail/supermercados.xsd
  Propósito: Extensión sectorial para supermercados y comercio retail SIFEN v150
  
  IMPLEMENTACIÓN ESPECÍFICA SIFEN v150:
  Este módulo implementa los campos E810-E819 del Manual Técnico oficial,
  específicamente para el sector supermercados, retail y comercio minorista.
  
  COBERTURA CAMPOS OFICIALES:
  ✅ E810: gGrupSup - Grupo sector supermercados
  ✅ E811: dNomCaj - Nombre del cajero  
  ✅ E812: dEfectivo - Efectivo recibido
  ✅ E813: dVuelto - Vuelto entregado
  ✅ E814: dDonac - Monto de la donación
  ✅ E815: dDesDonac - Descripción de la donación
  
  CASOS DE USO REALES PARAGUAY:
  - Supermercados con sistema donaciones (Stock, Real, Superseis)
  - Farmacias con datos específicos de cajero y vuelto
  - Tiendas retail con transacciones efectivo
  - Minimarkets con donaciones voluntarias
  - Puntos de venta con identificación de operador
  
  ARQUITECTURA MODULAR:
  - Hereda de base_extension_types.xsd (tipoGrupoExtensionBase)
  - Reutiliza tipos de common/basic_types.xsd y common/currency_types.xsd
  - Integración limpia con document_core/root_elements.xsd
  - Validaciones específicas para sector retail
  
  Autor: Sistema SIFEN Paraguay
  Versión: 1.5.0
  Fecha: 2025-06-23
  Estado: ✅ IMPLEMENTACIÓN COMPLETA MODULAR
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://ekuatia.set.gov.py/sifen/xsd"
    targetNamespace="http://ekuatia.set.gov.py/sifen/xsd"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.5.0">

    <!-- ===================================================================== -->
    <!-- IMPORTACIÓN DE DEPENDENCIAS MODULARES                                -->
    <!-- ===================================================================== -->

    <!-- Tipos base de extensiones (infraestructura modular) -->
    <xs:include schemaLocation="../base_extension_types.xsd" />

    <!-- ===================================================================== -->
    <!-- TIPOS ESPECÍFICOS SECTOR SUPERMERCADOS                               -->
    <!-- ===================================================================== -->

    <!-- Nombre del cajero/operador - E811 -->
    <xs:simpleType name="tipoNombreCajero">
        <xs:annotation>
            <xs:documentation> E811 - dNomCaj: Nombre del cajero o operador del punto de venta.
                ESPECIFICACIONES SIFEN v150: - Tipo: A (alfanumérico) - Longitud: 1-20 caracteres -
                Ocurrencia: 0-1 (opcional) FORMATO ACEPTADO: - Nombre y apellido del cajero - Código
                de identificación del operador - Alias o nombre comercial del cajero EJEMPLOS
                VÁLIDOS: - "María González" - "Juan P." - "CAJERO_01" - "Operador A" </xs:documentation>
        </xs:annotation>
        <xs:restriction base="tipoNombrePersonaSector">
            <!-- Restricciones específicas SIFEN para cajeros -->
            <xs:minLength value="1" />
            <xs:maxLength value="20" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Monto efectivo - E812 -->
    <xs:simpleType name="tipoMontoEfectivo">
        <xs:annotation>
            <xs:documentation> E812 - dEfectivo: Monto en efectivo recibido del cliente.
                ESPECIFICACIONES SIFEN v150: - Tipo: N (numérico) - Longitud: 1-15p(0-4) (hasta 15
                dígitos, máximo 4 decimales) - Ocurrencia: 0-1 (opcional) VALIDACIONES: - Debe ser
                mayor o igual a 0 - Máximo 4 decimales - Si está presente, puede ser 0 (pago exacto)
                CASOS DE USO: - Cliente paga con billetes/monedas - Monto mayor al total (requiere
                vuelto) - Pago exacto (sin vuelto) </xs:documentation>
        </xs:annotation>
        <xs:restriction base="tipoMontoCero">
            <xs:minInclusive value="0" />
            <xs:fractionDigits value="4" />
            <xs:totalDigits value="15" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Vuelto entregado - E813 -->
    <xs:simpleType name="tipoVuelto">
        <xs:annotation>
            <xs:documentation> E813 - dVuelto: Vuelto entregado al cliente. ESPECIFICACIONES SIFEN
                v150: - Tipo: N (numérico) - Longitud: 1-6p(0-4) (hasta 6 dígitos, máximo 4
                decimales) - Ocurrencia: 0-1 (opcional) VALIDACIONES: - Debe ser mayor o igual a 0 -
                Máximo 4 decimales - Si dEfectivo está presente, vuelto ≤ dEfectivo - Si no hay
                efectivo, vuelto debe ser 0 o ausente LÓGICA DE NEGOCIO: vuelto = efectivo_recibido
                - total_documento Si resultado ≤ 0, no hay vuelto </xs:documentation>
        </xs:annotation>
        <xs:restriction base="tipoMontoCero">
            <xs:minInclusive value="0" />
            <xs:fractionDigits value="4" />
            <xs:totalDigits value="6" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Monto donación - E814 -->
    <xs:simpleType name="tipoMontoDonacion">
        <xs:annotation>
            <xs:documentation> E814 - dDonac: Monto de la donación voluntaria del cliente.
                ESPECIFICACIONES SIFEN v150: - Tipo: N (numérico) - Longitud: 1-6p(0-4) (hasta 6
                dígitos, máximo 4 decimales) - Ocurrencia: 0-1 (opcional) CASOS DE USO COMUNES
                PARAGUAY: - Donaciones a fundaciones en supermercados - Redondeo solidario en puntos
                de venta - Campañas benéficas específicas - Aportes voluntarios a causas sociales
                VALIDACIONES: - Debe ser mayor a 0 si está presente - Máximo 4 decimales - Si hay
                donación, debe haber descripción (dDesDonac) </xs:documentation>
        </xs:annotation>
        <xs:restriction base="tipoMontoPositivo">
            <xs:minExclusive value="0" />
            <xs:fractionDigits value="4" />
            <xs:totalDigits value="6" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Descripción donación - E815 -->
    <xs:simpleType name="tipoDescripcionDonacion">
        <xs:annotation>
            <xs:documentation> E815 - dDesDonac: Descripción de la donación. ESPECIFICACIONES SIFEN
                v150: - Tipo: A (alfanumérico) - Longitud: 1-20 caracteres - Ocurrencia: 0-1
                (opcional) EJEMPLOS COMUNES PARAGUAY: - "Fundación Dequení" - "Hogar San José" -
                "Cruz Roja Paraguay" - "Redondeo solidario" - "Campaña Navidad" VALIDACIONES: -
                Obligatorio si dDonac está presente - Texto descriptivo de la causa o institución </xs:documentation>
        </xs:annotation>
        <xs:restriction base="tipoDescripcionSectorial">
            <!-- Restricciones específicas SIFEN para descripciones donación -->
            <xs:minLength value="1" />
            <xs:maxLength value="20" />
        </xs:restriction>
    </xs:simpleType>

    <!-- ===================================================================== -->
    <!-- GRUPO PRINCIPAL: SUPERMERCADOS (E810)                                -->
    <!-- ===================================================================== -->

    <!-- Contenido específico del sector supermercados -->
    <xs:complexType name="tipoContenidoSupermercados">
        <xs:annotation>
            <xs:documentation> Contenido específico para el sector supermercados. Implementa todos
                los campos E811-E815 según Manual Técnico SIFEN v150. ESTRUCTURA CAMPOS: - dNomCaj
                (E811): Nombre cajero [OPCIONAL] - dEfectivo (E812): Efectivo recibido [OPCIONAL] -
                dVuelto (E813): Vuelto entregado [OPCIONAL] - dDonac (E814): Monto donación
                [OPCIONAL] - dDesDonac (E815): Descripción donación [OPCIONAL] REGLAS DE NEGOCIO: 1.
                Si hay dDonac, debe haber dDesDonac 2. Si hay dVuelto, debería haber dEfectivo 3.
                Todos los campos son opcionales (flexibilidad máxima) 4. Válido para cualquier tipo
                de retail/supermercado </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- E811: Nombre del cajero -->
            <xs:element name="dNomCaj" type="tipoNombreCajero" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> E811 - Nombre del cajero o operador del punto de venta. CASOS
                        DE USO: - Identificación del empleado que procesa la venta - Control interno
                        de operaciones por cajero - Trazabilidad de transacciones - Auditoría de
                        operaciones por operador OPCIONAL: Muchas PyMEs no requieren este control. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- E812: Efectivo recibido -->
            <xs:element name="dEfectivo" type="tipoMontoEfectivo" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> E812 - Monto en efectivo recibido del cliente. CASOS DE USO:
                        - Pago en efectivo (total o parcial) - Control de caja registradora -
                        Cálculo automático de vuelto - Auditoría de transacciones efectivo OPCIONAL:
                        Solo para ventas con componente efectivo. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- E813: Vuelto entregado -->
            <xs:element name="dVuelto" type="tipoVuelto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> E813 - Vuelto entregado al cliente. CÁLCULO:
                        efectivo_recibido - total_factura CASOS DE USO: - Cliente paga más del monto
                        exacto - Control de exactitud en caja - Auditoría de diferencias de caja -
                        Validación de operaciones efectivo OPCIONAL: Solo cuando hay vuelto real. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- E814: Monto donación -->
            <xs:element name="dDonac" type="tipoMontoDonacion" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> E814 - Monto de la donación voluntaria. CASOS DE USO
                        PARAGUAY: - Donaciones a Fundación Dequení (común en supermercados) -
                        Redondeo solidario en tiendas - Campañas navideñas o especiales - Aportes a
                        hogares o instituciones benéficas OBLIGATORIO: Si está presente, debe haber
                        dDesDonac. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- E815: Descripción donación -->
            <xs:element name="dDesDonac" type="tipoDescripcionDonacion" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> E815 - Descripción de la donación o causa beneficiada.
                        EJEMPLOS INSTITUCIONES PARAGUAY: - "Fundación Dequení" (muy común) - "Hogar
                        San José" - "Cruz Roja Paraguay" - "Aldeas Infantiles" - "Fundación Visión"
                        REQUERIDO: Si dDonac está presente. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Grupo principal de supermercados que hereda de la base -->
    <xs:complexType name="tipoGrupoSupermercados">
        <xs:annotation>
            <xs:documentation> E810 - gGrupSup: Grupo sector supermercados. EXTENSIÓN MODULAR que
                hereda de tipoGrupoExtensionBase. Implementa la estructura completa para el sector
                retail/supermercados según especificación SIFEN v150. HERENCIA MODULAR: ✅ Metadata
                automática (gMetaExt) desde base ✅ Validaciones comunes desde base ✅ Atributo
                tipo="SUPERMERCADOS" requerido ✅ Contenido específico sector retail INTEGRACIÓN: Se
                integra automáticamente en document_core/root_elements.xsd a través de
                extension_registry.xsd sin modificar funcionalidad core. </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tipoGrupoExtensionBase">
                <xs:sequence>
                    <!-- Contenido específico del sector supermercados -->
                    <xs:element name="gDatosSup" type="tipoContenidoSupermercados">
                        <xs:annotation>
                            <xs:documentation> Grupo que contiene todos los datos específicos del
                                sector supermercados. Encapsula los campos E811-E815 en una
                                estructura lógica. </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- ===================================================================== -->
    <!-- ELEMENTO GLOBAL PARA INTEGRACIÓN                                     -->
    <!-- ===================================================================== -->

    <!-- Elemento global para sector supermercados -->
    <xs:element name="gGrupSup" type="tipoGrupoSupermercados">
        <xs:annotation>
            <xs:documentation> E810 - Elemento global para grupo sector supermercados. USO EN
                DOCUMENTOS: <gExtSec>
                    <gGrupSup tipo="SUPERMERCADOS">
                        <gMetaExt>
                            <dCodSector>SUPERMERCADOS</dCodSector>
                            <dVerExt>1.0</dVerExt>
                            <dEstExt>ACTIVA</dEstExt>
                        </gMetaExt>
                        <gDatosSup>
                            <dNomCaj>María González</dNomCaj>
                            <dEfectivo>150000</dEfectivo>
                            <dVuelto>5000</dVuelto>
                            <dDonac>2000</dDonac>
                            <dDesDonac>Fundación Dequení</dDesDonac>
                        </gDatosSup>
                    </gGrupSup>
                </gExtSec>
                VALIDACIÓN AUTOMÁTICA: - Atributo tipo="SUPERMERCADOS" requerido - Metadata
                dCodSector debe ser "SUPERMERCADOS" - Si dDonac presente, dDesDonac obligatorio -
                Montos deben ser ≥ 0 </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- ===================================================================== -->
    <!-- VALIDACIONES Y CONSTRAINTS ESPECÍFICOS                               -->
    <!-- ===================================================================== -->

    <!--
        REGLAS DE VALIDACIÓN IMPLEMENTADAS:
        
        1. CONSISTENCIA DONACIONES:
           - Si dDonac está presente → dDesDonac es obligatorio
           - Si dDesDonac está presente → dDonac debe ser > 0
        
        2. LÓGICA EFECTIVO/VUELTO:
           - dVuelto debe ser ≤ dEfectivo (si ambos presentes)
           - dVuelto ≥ 0 siempre
           - dEfectivo ≥ 0 siempre
        
        3. LONGITUDES SIFEN v150:
           - dNomCaj: 1-20 caracteres
           - dDesDonac: 1-20 caracteres
           - dEfectivo: hasta 15 dígitos, 4 decimales
           - dVuelto: hasta 6 dígitos, 4 decimales
           - dDonac: hasta 6 dígitos, 4 decimales
        
        4. METADATA OBLIGATORIA:
           - tipo="SUPERMERCADOS" en elemento raíz
           - dCodSector="SUPERMERCADOS" en metadata
           - gMetaExt siempre presente (heredado de base)
        
        ESTAS VALIDACIONES SE IMPLEMENTAN A NIVEL XSD Y A NIVEL APLICACIÓN
        PARA GARANTIZAR CUMPLIMIENTO 100% CON SIFEN v150
    -->

</xs:schema>