backend/app/services/xml_generator/schemas/v150/document_core/root_elements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Archivo: document_core/root_elements.xsd
  Propósito: Definición de elementos raíz y estructura principal del documento electrónico SIFEN v150
  
  Este módulo define:
  - Elemento principal DE (Documento Electrónico) 
  - Estructura básica de grupos del documento
  - Atributos fundamentales como CDC (Id)
  - Grupos principales que componen cualquier documento electrónico
  
  ESTADO ACTUAL:
  ✅ Usa módulos existentes: parties/, document_core/
  ⏳ Define temporalmente: tipoGrupoItems (hasta que exista operations/items.xsd)
  ❌ Comenta: Campos específicos por tipo (hasta que existan document_types/)
  
  Dependencias:
  - common/basic_types.xsd (tipos básicos)
  - document_core/operation_data.xsd (operación)
  - document_core/stamping_data.xsd (timbrado)  
  - document_core/totals_subtotals.xsd (totales)
  - parties/issuer_types.xsd (emisor)
  - parties/receiver_types.xsd (receptor)
  
  Autor: Sistema SIFEN Paraguay
  Versión: 1.5.0
  Fecha: 2025-06-20
  Corregido: 2025-06-22 - Integración con módulos existentes
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://ekuatia.set.gov.py/sifen/xsd"
    targetNamespace="http://ekuatia.set.gov.py/sifen/xsd"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.5.0">

    <!-- ================================================================== -->
    <!-- IMPORTACIONES DE DEPENDENCIAS                                     -->
    <!-- ================================================================== -->

    <!-- Tipos básicos comunes -->
    <xs:include schemaLocation="../common/basic_types.xsd" />

    <!-- Módulos document_core/ -->
    <xs:include schemaLocation="operation_data.xsd" />
    <xs:include schemaLocation="stamping_data.xsd" />
    <xs:include schemaLocation="totals_subtotals.xsd" />

    <!-- Módulos parties/ -->
    <xs:include schemaLocation="../parties/issuer_types.xsd" />
    <xs:include schemaLocation="../parties/receiver_types.xsd" />


    <!-- Módulos operations/ -->
    <xs:include schemaLocation="../operations/items.xsd" />

    <!-- TODO: Agregar cuando existan:
    
    <xs:include schemaLocation="../document_types/factura_types.xsd"/>
    <xs:include schemaLocation="../document_types/nota_credito_types.xsd"/>
    <xs:include schemaLocation="../document_types/nota_debito_types.xsd"/>
    <xs:include schemaLocation="../document_types/nota_remision_types.xsd"/>
    <xs:include schemaLocation="../document_types/autofactura_types.xsd"/>
    <xs:include schemaLocation="../document_types/associated_document.xsd"/>
    -->

    <!-- ================================================================== -->
    <!-- TIPOS TEMPORALES (hasta que existan los módulos)                  -->
    <!-- ================================================================== -->


    <!-- ================================================================== -->
    <!-- ELEMENTO PRINCIPAL: DOCUMENTO ELECTRÓNICO (A001)                  -->
    <!-- ================================================================== -->

    <xs:element name="DE" type="tipoDocumentoElectronico">
        <xs:annotation>
            <xs:documentation> A001 - DE: Documento Electrónico completo. Este es el elemento
                principal que contiene toda la información estructurada del documento electrónico
                según normativa SIFEN. Atributos obligatorios: - Id: CDC (Código de Control) de 44
                dígitos que identifica únicamente el documento Grupos principales que contiene: -
                gOpeDE: Datos de la operación del documento electrónico - gTimb: Datos del timbrado
                fiscal - gDatGralOpe: Datos generales de la operación - gEmis: Datos del emisor -
                gDatRec: Datos del receptor - gCamItem: Campos de ítems/productos/servicios -
                gTotSub: Totales, subtotales e impuestos - Grupos específicos según tipo de
                documento (pendientes) </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- ================================================================== -->
    <!-- TIPO COMPLEJO: DOCUMENTO ELECTRÓNICO                              -->
    <!-- ================================================================== -->

    <xs:complexType name="tipoDocumentoElectronico">
        <xs:annotation>
            <xs:documentation> Tipo complejo que define la estructura completa de un documento
                electrónico. Contiene todos los grupos de datos necesarios para conformar un
                documento válido según la normativa SET/SIFEN de Paraguay. La secuencia de elementos
                debe respetarse para mantener compatibilidad con el sistema receptor SIFEN. ESTADO
                ACTUAL: ✅ Integrado con módulos existentes (parties/, document_core/) ⏳ Definición
                temporal de gCamItem (hasta que exista operations/) ❌ Campos específicos comentados
                (hasta que existan document_types/) </xs:documentation>
        </xs:annotation>

        <xs:sequence>

            <!-- ✅ GRUPOS EXISTENTES (con módulos implementados) -->

            <!-- Datos de la operación del documento electrónico -->
            <xs:element name="gOpeDE" type="tipoGrupoOperacionDocumento" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation> Grupo de datos de la operación del documento electrónico.
                        IMPORTADO desde document_core/operation_data.xsd Incluye tipo de documento,
                        fecha de emisión, código de seguridad, etc. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- Datos del timbrado fiscal -->
            <xs:element name="gTimb" type="tipoGrupoTimbrado" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation> Grupo de datos del timbrado fiscal. IMPORTADO desde
                        document_core/stamping_data.xsd Contiene información sobre el timbrado
                        habilitante para emitir documentos electrónicos. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- Datos generales de la operación comercial -->
            <xs:element name="gDatGralOpe" type="tipoGrupoDatosGeneralesOperacion" minOccurs="1"
                maxOccurs="1">
                <xs:annotation>
                    <xs:documentation> Grupo de datos generales de la operación comercial. IMPORTADO
                        desde document_core/operation_data.xsd Incluye fecha y lugar de la
                        operación, condiciones comerciales, etc. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- Datos del emisor del documento -->
            <xs:element name="gEmis" type="tipoGrupoEmisor" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation> Grupo de datos del emisor del documento. IMPORTADO desde
                        parties/issuer_types.xsd Contiene información del contribuyente que emite el
                        documento: RUC, nombre/razón social, dirección, actividad económica, etc. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- Datos del receptor del documento -->
            <xs:element name="gDatRec" type="tipoGrupoReceptor" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation> Grupo de datos del receptor del documento. IMPORTADO desde
                        parties/receiver_types.xsd Opcional en algunos tipos de documentos (ej:
                        tickets de venta al público). Cuando está presente, incluye RUC/CI, nombre,
                        dirección del receptor. </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- ✅ GRUPOS IMPORTADOS DESDE OPERATIONS/ -->
            <!-- Campos de ítems, productos o servicios -->
            <xs:element name="gCamItem" type="tipoGrupoItems" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation> Grupo de campos de ítems, productos o servicios. IMPORTADO
                        desde operations/items.xsd - Implementación completa SIFEN v150 Contiene
                        estructura completa de ítems: ✅ Identificación (códigos internos, NCM,
                        partidas arancelarias) ✅ Características (descripción, unidad de medida,
                        cantidad) ✅ Precios (precio unitario, totales calculados) ✅ Afectación IVA
                        (gravado/exento/exonerado con cálculos) ✅ Origen (país de origen cuando
                        corresponda) Puede repetirse múltiples veces (uno por cada
                        ítem/producto/servicio). Al menos un grupo gCamItem es obligatorio en
                        cualquier documento. Casos de uso soportados: - Productos físicos con NCM e
                        IVA estándar - Servicios profesionales gravados - Medicamentos y productos
                        exentos - Productos importados con país de origen </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- ✅ GRUPOS EXISTENTES (continuación) -->

            <!-- Totales, subtotales e impuestos -->
            <xs:element name="gTotSub" type="tipoGrupoTotalesSubtotales" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation> Grupo de totales, subtotales e impuestos. IMPORTADO desde
                        document_core/totals_subtotals.xsd Consolida todos los cálculos del
                        documento: - Subtotales por tipo de gravamen (exento, 5%, 10%) - Total de
                        impuestos (IVA) - Descuentos globales - Total general de la operación </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- ❌ GRUPOS COMENTADOS (hasta que existan los módulos) -->

            <!-- TODO: Descomentar cuando existan los módulos document_types/
            
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Grupos específicos según el tipo de documento electrónico.
                        Solo uno de estos grupos puede estar presente según iTiDE:
                        - gCamFE: Campos específicos de Factura Electrónica (iTiDE=1)
                        - gCamAuto: Campos específicos de Autofactura (iTiDE=4)
                        - gCamNCE: Campos específicos de Nota de Crédito (iTiDE=5)
                        - gCamNDE: Campos específicos de Nota de Débito (iTiDE=6)
                        - gCamNRE: Campos específicos de Nota de Remisión (iTiDE=7)
                    </xs:documentation>
                </xs:annotation>
                
                <xs:element name="gCamFE" type="tipoGrupoCamposFactura" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Campos específicos para Factura Electrónica (iTiDE=1)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                
                <xs:element name="gCamAuto" type="tipoGrupoCamposAutofactura" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Campos específicos para Autofactura Electrónica (iTiDE=4)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                
                <xs:element name="gCamNCE" type="tipoGrupoCamposNotaCredito" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Campos específicos para Nota de Crédito Electrónica (iTiDE=5)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                
                <xs:element name="gCamNDE" type="tipoGrupoCamposNotaDebito" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Campos específicos para Nota de Débito Electrónica (iTiDE=6)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                
                <xs:element name="gCamNRE" type="tipoGrupoCamposNotaRemision" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Campos específicos para Nota de Remisión Electrónica (iTiDE=7)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                
            </xs:choice>
            
            <xs:element name="gCamDEAsoc" type="tipoGrupoDocumentoAsociado" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Grupo de campos de documento electrónico asociado.
                        IMPORTADO desde document_types/associated_document.xsd
                        Utilizado para referenciar documentos relacionados:
                        - Documento que se anula (en Notas de Crédito/Débito)
                        - Documento de referencia
                        - Documentos impresos anteriores
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            -->

        </xs:sequence>

        <!-- ============================================================== -->
        <!-- ATRIBUTOS DEL DOCUMENTO ELECTRÓNICO                           -->
        <!-- ============================================================== -->

        <!-- CDC: Código de Control del Documento (44 dígitos) -->
        <xs:attribute name="Id" type="tipoCDC" use="required">
            <xs:annotation>
                <xs:documentation> CDC (Código de Control del Documento) - Identificador único de 44
                    dígitos. Estructura del CDC según Manual SIFEN v150:
                    [RUC_EMISOR][DV][TIPO_DOC][ESTABLECIMIENTO][PUNTO_EXP][NUMERO_DOC][FECHA_EMISION][TIPO_EMISION][COD_SEGURIDAD][DV_CDC]
                    Donde: - RUC_EMISOR: RUC del emisor (8 dígitos) - DV: Dígito verificador del RUC
                    (1 dígito) - TIPO_DOC: Tipo de documento (2 dígitos: 01,04,05,06,07) -
                    ESTABLECIMIENTO: Código de establecimiento (3 dígitos) - PUNTO_EXP: Punto de
                    expedición (3 dígitos) - NUMERO_DOC: Número secuencial (7 dígitos) -
                    FECHA_EMISION: Fecha emisión YYYYMMDD (8 dígitos) - TIPO_EMISION: Tipo emisión
                    (1 dígito: 1=Normal, 2=Contingencia) - COD_SEGURIDAD: Código de seguridad
                    aleatorio (9 dígitos) - DV_CDC: Dígito verificador del CDC (1 dígito) Total: 44
                    dígitos numéricos Ejemplo: 01800024250016700100112022062632165498741 Este CDC es
                    único en todo el sistema SIFEN y permite rastreabilidad completa. </xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>

    <!-- ================================================================== -->
    <!-- ELEMENTOS GLOBALES PARA VALIDACIÓN INDEPENDIENTE                  -->
    <!-- ================================================================== -->

    <!-- Elemento global para el documento completo -->
    <xs:element name="DocumentoElectronico" type="tipoDocumentoElectronico">
        <xs:annotation>
            <xs:documentation> Elemento global para validar independientemente el documento
                electrónico completo. Útil para: - Validación de documentos completos - Tests de
                integración entre módulos - Verificación de estructura general </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- ================================================================== -->
    <!-- NOTAS DE IMPLEMENTACIÓN                                           -->
    <!-- ================================================================== -->

    <!--
        ESTADO ACTUAL DEL MÓDULO:
        
        ✅ MÓDULOS INTEGRADOS:
        - document_core/operation_data.xsd (gOpeDE, gDatGralOpe)
        - document_core/stamping_data.xsd (gTimb)
        - document_core/totals_subtotals.xsd (gTotSub)
        - parties/issuer_types.xsd (gEmis)
        - parties/receiver_types.xsd (gDatRec)
        
        ⏳ DEFINICIONES TEMPORALES:
        - tipoGrupoItems (gCamItem) - hasta que exista operations/items.xsd
        
        ❌ PENDIENTES (comentados):
        - Campos específicos por tipo de documento (document_types/)
        - Documentos asociados (document_types/associated_document.xsd)
        
        PRÓXIMOS PASOS:
        
        1. Crear operations/items.xsd
           - Implementar tipoGrupoItems completo
           - Eliminar definición temporal de este archivo
        
        2. Crear document_types/factura_types.xsd
           - Implementar tipoGrupoCamposFactura
           - Descomentar elementos correspondientes
        
        3. Crear document_types/nota_*.xsd
           - Implementar tipos para cada tipo de documento
           - Descomentar choice de campos específicos
        
        4. Crear document_types/associated_document.xsd
           - Implementar tipoGrupoDocumentoAsociado
           - Descomentar elemento gCamDEAsoc
        
        BENEFICIOS DE ESTE ENFOQUE:
        - ✅ Schema funcional con módulos existentes
        - ✅ Estructura preparada para crecimiento
        - ✅ Validación independiente de módulos
        - ✅ Migración gradual sin romper funcionalidad
        - ✅ Compatible con especificación SIFEN v150
    -->

</xs:schema>