backend/app/services/xml_generator/schemas/v150/modular/document_core/totals_subtotals.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Archivo: document_core/totals_subtotals.xsd
  Propósito: Definición de totales, subtotales e impuestos del documento electrónico SIFEN v150
  
  Este módulo define:
  - Grupo F001-F099: Campos de totales, subtotales e impuestos
  - Cálculos de IVA por tipo de gravamen (exento, 5%, 10%)
  - Descuentos y recargos globales
  - Total general de la operación
  - Validaciones de coherencia en cálculos
  
  Grupo principal:
  - gTotSub: Totales y subtotales del documento
  
  Dependencias:
  - common/basic_types.xsd (para tipos básicos)
  - common/currency_types.xsd (para tipos monetarios)
  
  CORRECCIÓN v2025-06-21:
  - Reemplazado tipoImporteMonetario por tipoMonto (tipo correcto definido en currency_types.xsd)
  - Corregidas todas las referencias para mantener consistencia con la arquitectura modular
  
  Autor: Sistema SIFEN Paraguay
  Versión: 1.5.0
  Fecha: 2025-06-20
  Actualizado: 2025-06-21
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://ekuatia.set.gov.py/sifen/xsd"
    targetNamespace="http://ekuatia.set.gov.py/sifen/xsd"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.5.0">

    <!-- ================================================================== -->
    <!-- IMPORTACIONES DE DEPENDENCIAS                                     -->
    <!-- ================================================================== -->

    <!-- Tipos básicos comunes -->
    <xs:include schemaLocation="../common/basic_types.xsd" />
    <xs:include schemaLocation="../common/currency_types.xsd" />

    <!-- ================================================================== -->
    <!-- GRUPO: TOTALES Y SUBTOTALES (gTotSub)                             -->
    <!-- ================================================================== -->

    <xs:complexType name="tipoGrupoTotalesSubtotales">
        <xs:annotation>
            <xs:documentation> gTotSub - Grupo de totales, subtotales e impuestos del documento.
                Este grupo consolida todos los cálculos financieros del documento: - Subtotales por
                tipo de gravamen (exento, exonerado, 5%, 10%) - Totales de impuestos (IVA) -
                Descuentos y recargos aplicados - Total general de la operación Es fundamental para
                la validación fiscal ya que SIFEN verifica que estos totales coincidan con la suma
                de los ítems del documento. Los cálculos deben realizarse con precisión de hasta 4
                decimales para evitar errores de redondeo en las validaciones. Campos por sección:
                F001-F010: Subtotales por gravamen F011-F020: Totales de operación y descuentos
                F021-F030: Impuestos calculados F031-F040: Totales generales F041-F099: Campos
                adicionales y complementarios </xs:documentation>
        </xs:annotation>

        <xs:sequence>

            <!-- ========================================================= -->
            <!-- F001-F010: SUBTOTALES POR TIPO DE GRAVAMEN              -->
            <!-- ========================================================= -->

            <!-- F001: Subtotal exento de IVA -->
            <xs:element name="dSubExe" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F001 - dSubExe: Subtotal de operaciones exentas de IVA. Suma
                        de los montos de ítems que están exentos del pago de IVA según la
                        legislación tributaria paraguaya. Estas operaciones no generan débito fiscal
                        para el emisor ni crédito fiscal para el receptor. Tipo: Numérico decimal
                        Formato: 1-15 enteros, 0-4 decimales Ocurrencia: 0-1 (opcional, solo si hay
                        ítems exentos) Ejemplo: 1250.75 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F002: Subtotal exonerado de IVA -->
            <xs:element name="dSubExo" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F002 - dSubExo: Subtotal de operaciones exoneradas de IVA.
                        Suma de los montos de ítems que tienen exoneración fiscal otorgada por
                        autoridades competentes (ej: diplomaticos, organizaciones internacionales,
                        etc.). Similar a exento pero con base legal diferente. Tipo: Numérico
                        decimal Formato: 1-15 enteros, 0-4 decimales Ocurrencia: 0-1 (opcional, solo
                        si hay ítems exonerados) Ejemplo: 850.00 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F003: Subtotal gravado IVA 5% -->
            <xs:element name="dSub5" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F003 - dSub5: Subtotal de operaciones gravadas con IVA 5%.
                        Suma de los montos de ítems gravados con la tasa reducida del IVA (5%),
                        aplicable principalmente a: - Productos de primera necesidad - Algunos
                        servicios básicos - Productos agropecuarios específicos Sobre este monto se
                        calcula el IVA correspondiente. Tipo: Numérico decimal Formato: 1-15
                        enteros, 0-4 decimales Ocurrencia: 0-1 (opcional, solo si hay ítems con IVA
                        5%) Ejemplo: 5000.25 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F004: Subtotal gravado IVA 10% -->
            <xs:element name="dSub10" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F004 - dSub10: Subtotal de operaciones gravadas con IVA 10%.
                        Suma de los montos de ítems gravados con la tasa general del IVA (10%),
                        aplicable a la mayoría de: - Bienes y productos en general - Servicios
                        comerciales - Importaciones gravadas Sobre este monto se calcula el IVA
                        correspondiente. Tipo: Numérico decimal Formato: 1-15 enteros, 0-4 decimales
                        Ocurrencia: 0-1 (opcional, solo si hay ítems con IVA 10%) Ejemplo: 3000.50 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- ========================================================= -->
            <!-- F011-F020: TOTALES DE OPERACIÓN Y DESCUENTOS            -->
            <!-- ========================================================= -->

            <!-- F013: Total de la operación -->
            <xs:element name="dTotOpe" type="tipoMonto">
                <xs:annotation>
                    <xs:documentation> F013 - dTotOpe: Total de la operación sin impuestos. Suma de
                        todos los subtotales parciales: dTotOpe = dSubExe + dSubExo + dSub5 + dSub10
                        Este total representa el valor bruto de todos los ítems del documento, sin
                        aplicar descuentos o recargos globales. Es un campo obligatorio y debe
                        coincidir exactamente con la suma de los subtotales declarados. Tipo:
                        Numérico decimal Formato: 1-15 enteros, 0-4 decimales Ocurrencia: 1-1
                        (obligatorio) Ejemplo: 8250.75 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F014: Total de descuentos -->
            <xs:element name="dTotDesc" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F014 - dTotDesc: Total de descuentos aplicados al documento.
                        Suma de todos los descuentos aplicados globalmente al documento, tanto
                        descuentos específicos por ítem como descuentos generales. Los descuentos
                        reducen el total a pagar por el cliente. Tipo: Numérico decimal Formato:
                        1-15 enteros, 0-4 decimales Ocurrencia: 0-1 (opcional, solo si hay
                        descuentos) Ejemplo: 250.00 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F018: Descuentos globales sobre ítems -->
            <xs:element name="dTotDescGlotem" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F018 - dTotDescGlotem: Total de descuentos globales aplicados
                        sobre ítems. Descuentos que se aplican de forma proporcional sobre todos o
                        varios ítems del documento (ej: descuento por volumen, descuento comercial
                        general, etc.). Se diferencia de descuentos específicos que se aplican solo
                        a ítems particulares. Tipo: Numérico decimal Formato: 1-15 enteros, 0-4
                        decimales Ocurrencia: 0-1 (opcional) Ejemplo: 125.50 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F015: Total de anticipos -->
            <xs:element name="dTotAnt" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F015 - dTotAnt: Total de anticipos aplicados al documento.
                        Suma de todos los anticipos o pagos previos realizados por el cliente que se
                        descuentan del total a pagar. Reduce el monto final que debe abonar el
                        receptor. Tipo: Numérico decimal Formato: 1-15 enteros, 0-4 decimales
                        Ocurrencia: 0-1 (opcional, solo si hay anticipos) Ejemplo: 500.00 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F016: Porcentaje de descuento total -->
            <xs:element name="dPorcDescTotal" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F016 - dPorcDescTotal: Porcentaje de descuento total
                        aplicado. Porcentaje global de descuento aplicado sobre el total de la
                        operación. Útil para cálculos y verificaciones. Formato: Decimal con 2
                        decimales (ej: 10.50 = 10.50%) Tipo: Porcentaje Formato: 1-3 enteros, 0-2
                        decimales Ocurrencia: 0-1 (opcional) Ejemplo: 5.25 (significa 5.25% de
                        descuento) </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F017: Descuento total -->
            <xs:element name="dDescTotal" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F017 - dDescTotal: Monto total de descuentos en valor
                        absoluto. Monto total de todos los descuentos aplicados al documento,
                        calculado sobre el total de la operación. Debe ser coherente con
                        dPorcDescTotal si ambos están presentes. Tipo: Numérico decimal Formato:
                        1-15 enteros, 0-4 decimales Ocurrencia: 0-1 (opcional) Ejemplo: 412.50 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F019: Total de anticipos -->
            <xs:element name="dAnticipo" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F019 - dAnticipo: Monto de anticipo aplicado a esta
                        operación. Monto específico de anticipo o pago a cuenta que se descuenta del
                        total a pagar en este documento. Puede diferir de dTotAnt en algunos casos
                        específicos. Tipo: Numérico decimal Formato: 1-15 enteros, 0-4 decimales
                        Ocurrencia: 0-1 (opcional) Ejemplo: 500.00 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F020: Redondeo -->
            <xs:element name="dRedon" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F020 - dRedon: Ajuste por redondeo aplicado al total. Ajuste
                        aplicado para redondear el total final a la unidad monetaria más pequeña en
                        circulación. Puede ser positivo o negativo según el redondeo necesario.
                        Tipo: Numérico decimal Formato: 1-15 enteros, 0-4 decimales Ocurrencia: 0-1
                        (opcional) Ejemplo: 2.50 (ajuste hacia arriba) o -1.25 (ajuste hacia abajo) </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- ========================================================= -->
            <!-- F021-F030: IMPUESTOS Y COMISIONES                       -->
            <!-- ========================================================= -->

            <!-- F021: Comisiones -->
            <xs:element name="dComi" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F021 - dComi: Total de comisiones aplicadas. Suma de todas
                        las comisiones cobradas por servicios adicionales (manejo, gestión,
                        intermediación, etc.). Las comisiones se suman al total a pagar. Tipo:
                        Numérico decimal Formato: 1-15 enteros, 0-4 decimales Ocurrencia: 0-1
                        (opcional, solo si hay comisiones) Ejemplo: 75.00 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F022: Total general de la operación -->
            <xs:element name="dTotGralOpe" type="tipoMonto">
                <xs:annotation>
                    <xs:documentation> F022 - dTotGralOpe: Total general de la operación con
                        impuestos. Total final que debe pagar el receptor, incluyendo: - Total de la
                        operación (dTotOpe) - Impuestos calculados (dTotIVA) - Comisiones (dComi) -
                        Menos descuentos y anticipos - Más/menos redondeos Formula básica:
                        dTotGralOpe = dTotOpe + dTotIVA + dComi - dTotDesc - dAnticipo + dRedon Es
                        el monto final de la transacción. Tipo: Numérico decimal Formato: 1-15
                        enteros, 0-4 decimales Ocurrencia: 1-1 (obligatorio) Ejemplo: 9125.25 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F023: IVA 5% -->
            <xs:element name="dIVA5" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F023 - dIVA5: Impuesto IVA calculado sobre base gravada al
                        5%. Monto del impuesto calculado aplicando la tasa del 5% sobre el subtotal
                        de ítems gravados con esta tasa (dSub5). Cálculo: dIVA5 = dSub5 * 0.05 Este
                        monto representa débito fiscal para el emisor y crédito fiscal para el
                        receptor (si corresponde). Tipo: Numérico decimal Formato: 1-15 enteros, 0-4
                        decimales Ocurrencia: 0-1 (opcional, solo si hay base gravada al 5%)
                        Ejemplo: 250.01 (sobre base de 5000.25) </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F024: IVA 10% -->
            <xs:element name="dIVA10" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F024 - dIVA10: Impuesto IVA calculado sobre base gravada al
                        10%. Monto del impuesto calculado aplicando la tasa del 10% sobre el
                        subtotal de ítems gravados con esta tasa (dSub10). Cálculo: dIVA10 = dSub10
                        * 0.10 Este monto representa débito fiscal para el emisor y crédito fiscal
                        para el receptor (si corresponde). Tipo: Numérico decimal Formato: 1-15
                        enteros, 0-4 decimales Ocurrencia: 0-1 (opcional, solo si hay base gravada
                        al 10%) Ejemplo: 300.05 (sobre base de 3000.50) </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F025: Liquidación total IVA 5% -->
            <xs:element name="dLiqTotIVA5" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F025 - dLiqTotIVA5: Total de liquidación de IVA al 5%. Monto
                        total de IVA al 5% que se liquida en este documento, incluyendo ajustes por
                        redondeos y correcciones. Normalmente igual a dIVA5, pero puede diferir en
                        casos especiales de liquidación o ajustes contables. Tipo: Numérico decimal
                        Formato: 1-15 enteros, 0-4 decimales Ocurrencia: 0-1 (opcional) Ejemplo:
                        250.00 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F026: Liquidación total IVA 10% -->
            <xs:element name="dLiqTotIVA10" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F026 - dLiqTotIVA10: Total de liquidación de IVA al 10%.
                        Monto total de IVA al 10% que se liquida en este documento, incluyendo
                        ajustes por redondeos y correcciones. Normalmente igual a dIVA10, pero puede
                        diferir en casos especiales de liquidación o ajustes contables. Tipo:
                        Numérico decimal Formato: 1-15 enteros, 0-4 decimales Ocurrencia: 0-1
                        (opcional) Ejemplo: 300.00 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F027: IVA sobre comisiones -->
            <xs:element name="dIVAComi" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F027 - dIVAComi: IVA calculado sobre comisiones. Impuesto IVA
                        aplicado sobre las comisiones cobradas, cuando estas están sujetas a
                        tributación. Se calcula aplicando la tasa correspondiente sobre dComi. Tipo:
                        Numérico decimal Formato: 1-15 enteros, 0-4 decimales Ocurrencia: 0-1
                        (opcional, solo si hay comisiones gravadas) Ejemplo: 7.50 (IVA 10% sobre
                        comisión de 75.00) </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F028: Total IVA -->
            <xs:element name="dTotIVA" type="tipoMonto">
                <xs:annotation>
                    <xs:documentation> F028 - dTotIVA: Total de impuesto IVA del documento. Suma de
                        todos los impuestos IVA calculados en el documento: dTotIVA = dIVA5 + dIVA10
                        + dIVAComi Este es el monto total de impuesto que se traslada al receptor y
                        que debe ser considerado para efectos fiscales. Campo obligatorio cuando hay
                        ítems gravados. Tipo: Numérico decimal Formato: 1-15 enteros, 0-4 decimales
                        Ocurrencia: 1-1 (obligatorio) Ejemplo: 557.56 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- ========================================================= -->
            <!-- F029-F035: BASES IMPONIBLES PARA CONTROL               -->
            <!-- ========================================================= -->

            <!-- F029: Base gravada IVA 5% -->
            <xs:element name="dBaseGrav5" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F029 - dBaseGrav5: Base imponible para IVA 5%. Monto sobre el
                        cual se calcula el IVA al 5%. Debe coincidir con dSub5 en operaciones
                        simples. Usado para verificaciones cruzadas y control fiscal. Tipo: Numérico
                        decimal Formato: 1-15 enteros, 0-4 decimales Ocurrencia: 0-1 (opcional, pero
                        recomendado si hay IVA 5%) Ejemplo: 5000.25 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F030: Base gravada IVA 10% -->
            <xs:element name="dBaseGrav10" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F030 - dBaseGrav10: Base imponible para IVA 10%. Monto sobre
                        el cual se calcula el IVA al 10%. Debe coincidir con dSub10 en operaciones
                        simples. Usado para verificaciones cruzadas y control fiscal. Tipo: Numérico
                        decimal Formato: 1-15 enteros, 0-4 decimales Ocurrencia: 0-1 (opcional, pero
                        recomendado si hay IVA 10%) Ejemplo: 3000.50 </xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- F031: Total base gravada IVA -->
            <xs:element name="dTBasGraIVA" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation> F031 - dTBasGraIVA: Total de base gravada con IVA. Suma total
                        de todas las bases imponibles: dTBasGraIVA = dBaseGrav5 + dBaseGrav10
                        Representa el total de montos sobre los cuales se calcula algún tipo de IVA
                        en el documento. Tipo: Numérico decimal Formato: 1-15 enteros, 0-4 decimales
                        Ocurrencia: 0-1 (opcional, útil para reportes) Ejemplo: 8000.75 </xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <!-- ================================================================== -->
    <!-- ELEMENTO PRINCIPAL DEL GRUPO                                      -->
    <!-- ================================================================== -->

    <xs:element name="gTotSub" type="tipoGrupoTotalesSubtotales">
        <xs:annotation>
            <xs:documentation> Elemento principal del grupo de totales y subtotales. Este elemento
                agrupa todos los cálculos financieros del documento y es usado en la estructura
                principal del documento electrónico. Es fundamental para la validación fiscal ya que
                SIFEN verifica la coherencia matemática entre estos totales y los ítems del
                documento. </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- ================================================================== -->
    <!-- TIPOS AUXILIARES PARA VALIDACIONES ESPECÍFICAS                   -->
    <!-- ================================================================== -->

    <!-- Tipo para desglose de IVA -->
    <xs:complexType name="tipoDetalleIVA">
        <xs:annotation>
            <xs:documentation> Tipo auxiliar para desglosar el cálculo de IVA por tasa. Útil para
                validaciones y reportes detallados. </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="baseImponible5" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Base imponible para IVA 5%</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="iva5" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>IVA calculado al 5%</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="baseImponible10" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Base imponible para IVA 10%</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="iva10" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>IVA calculado al 10%</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="totalIVA" type="tipoMonto">
                <xs:annotation>
                    <xs:documentation>Total de IVA (suma de IVA 5% + IVA 10%)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para resumen de descuentos -->
    <xs:complexType name="tipoResumenDescuentos">
        <xs:annotation>
            <xs:documentation> Tipo auxiliar para desglosar descuentos aplicados. Útil para análisis
                y validaciones de descuentos. </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="descuentosItems" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Descuentos específicos por ítem</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="descuentosGlobales" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Descuentos globales aplicados</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="descuentosComerciales" type="tipoMonto" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Descuentos comerciales o promocionales</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="totalDescuentos" type="tipoMonto">
                <xs:annotation>
                    <xs:documentation>Total de todos los descuentos</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- ================================================================== -->
    <!-- ELEMENTOS PARA VALIDACIÓN INDEPENDIENTE                           -->
    <!-- ================================================================== -->

    <!-- Elemento raíz para validar totales independientemente -->
    <xs:element name="totalesDocumento" type="tipoGrupoTotalesSubtotales">
        <xs:annotation>
            <xs:documentation> Elemento raíz para validar independientemente los totales del
                documento. Útil para: - Validación previa de cálculos - Tests unitarios de totales -
                Verificación de coherencia matemática </xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- ================================================================== -->
    <!-- GRUPOS DE VALIDACIÓN                                              -->
    <!-- ================================================================== -->

    <!-- Grupo para elementos obligatorios de totales -->
    <xs:group name="grupoElementosObligatoriosTotales">
        <xs:annotation>
            <xs:documentation> Grupo que define los elementos mínimos obligatorios que deben estar
                presentes en cualquier documento válido. Incluye: - Total de operación (dTotOpe) -
                Total general (dTotGralOpe) - Total IVA (dTotIVA) Estos campos son fundamentales
                para la validación fiscal. </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="dTotOpe" type="tipoMonto" />
            <xs:element name="dTotGralOpe" type="tipoMonto" />
            <xs:element name="dTotIVA" type="tipoMonto" />
        </xs:sequence>
    </xs:group>

</xs:schema>